<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/header.ejs') %>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="details content">
            <h2><%= blog.title %></h2>
            <div class="content">
                <p><%= blog.body %></p>
            </div>
            <a class="delete" data-doc="<%= blog._id %>">delete</a>
        </div>

        <%- include('./partials/footer.ejs') %>

        <script type="text/javascript">
            const trashcan = document.querySelector('a.delete');

            trashcan.addEventListener('click', (event)=>
            {
                const endpoint = `/blogs/${trashcan.dataset.doc}`;

                fetch(endpoint, {method: 'DELETE'})
                .then((response)=>response.json())
                .then((data)=>
                {
                    console.log(data);
                    window.location.href = data.redirect;
                })
                .catch((error)=>
                {
                    console.log(error);
                })
            });
        </script>
    </body>
</html>
